<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hello World</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>
  <div class="container">
		<section id="section1" class="panel panel-default">

			<div class="panel-heading">
			<div class="container">
	    		<h3 class="panel-title"><%=info%></h3>
	    		</div>
		  	</div>
		  </div>

			<div class="container">
		<section id="section1" class="panel panel-default">

			<div class="panel-heading">
			<div class="container">
	    		<h3 class="panel-title">Buckets</h3>
	    		</div>
					<div class="panel-body">
						<ul class="list-group">
						<% buckets.forEach(function(elem){ %>
						<li class="list-group-item"><%=elem.Name %></li>
						<%}); %>
						
				</ul>
  			</div>
		  	</div>
		  </div>

</body>
</html>
